<% if (settings.ads.enabled == true) { %>
  <div class="row ">
    <div class="layout-page">
    <div class="col-12 grid-margin">
         <div class="card">
           <div class="card-body">
             <h4 class="card-title">Advertisement</h4>
             <div class="table-responsive">
              <img src="https://www.adobe.com/de/express/discover/sizes/media_12fa8cb62228835a68a2d107675896c3aa41fb5e4.png?width=750&format=png&optimize=medium">
             <%= settings.ads.script %>
             </div>
           </div>
         </div>
       </div>
     </div>
<% } %>