<i class="fa-solid fa-money-check"></i>
        <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
        <div class="scrollbar-inner">
            <div class="sidenav-header  align-items-center">
                <a class="navbar-brand" href="javascript:void(0)">
            
                    <img src="https://images-ext-1.discordapp.net/external/sMKkyuJo8Wn_AK_Foyl0aGrWwhe9fbqtPgkThvHxdxs/%3Fsize%3D1024/https/cdn.discordapp.com/icons/933803406513012807/bb763a3db98f9f0ae8d6029e8355dd06.png" class="navbar-brand-img" alt="Brand Icon here">
                </a>
            </div>
            <div class="navbar-inner">
                <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">
                                <i class="ni ni-tv-2 text-primary"></i>
                                <span class="nav-link-text">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/servers/new">
                                <i class="fas fa-plus text-green"></i>
                                <span class="nav-link-text">Create instance</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/servers">
                                <i class="fas fa-server text-purple"></i>
                                <span class="nav-link-text">instances</span>
                            </a>
                        </li><% if (settings.stripe.enabled == true) { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/buy">
                                    <i class="fa-solid fa-money-bill-transfer"></i>
                                  <span class="nav-link-text">Buy Coins</span>
                              </a>
                          </li><% } %>
                         <% if (settings.api.arcio["afk page"].enabled == true) { %>
                          <li class="nav-item">
                            <a class="nav-link" href="/afk">
                                <i class="fas fa-coins text-yellow"></i>
                                <span class="nav-link-text">AFK</span>
                            </a>
                        </li><% } %>
                        <% if (settings.linkvertise.enabled == true) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/lv">
                                <i class="fa-solid fa-money-check"></i>
                                <span class="nav-link-text">Linkvertise Earning</span>
                            </a>
                        </li><% } %>
                        <% if (settings.api.client.j4r.enabled == true) { %>
                            <li class="nav-item">
                            <a class="nav-link" href="/j4r">
                                <i class="fa-solid fa-gem"></i>
                                <span class="nav-link-text">Join For Rewards</span>
                                </a>
                            </li><% } %>
                          <% if (settings.gift.enabled == true) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/gift">
                                <i class="fas fa-gift text-primary"></i>
                                <span class="nav-link-text">Gift</span>
                            </a>
                        </li><% } %>
                       <% if (settings.status.enabled == true) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/status">
                                <i class="fas fa-clock text-green"></i>
                                <span class="nav-link-text">Status</span>
                            </a>
                        </li><% } %>
                        <% if (settings.api.client.coins.store.enabled == true) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/store">
                                <i class="fas fa-store text-blue"></i>
                                <span class="nav-link-text">Store</span>
                            </a>
                        </li><% } %>
                         <% if (settings.discordserver.enabled == true) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="<%= settings.discordserver.invitelink %>">
                                <i class="fab fa-discord text-blue"></i>
                                <span class="nav-link-text">Discord</span>
                            </a>
                        </li><% } %>
                        <li class="nav-item">
                            <a class="nav-link" href="/redeem">
                                <i class="fas fa-hand-holding-usd text-green"></i>
                                <span class="nav-link-text">Redeem</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="cursor:pointer;" data-toggle="modal"
                                data-target="#modal-notification">
                                <i class="fas fa-key text-orange"></i>
                                <span class="nav-link-text">Regenrate Password</span>
                            </a>
                        </li>
                      <li class="nav-item">
                            <a class="nav-link" href="/panel">
                                <i class="fas fa-th-list text-aqua"> 
                     </i>
                                <span class="nav-link-text">Panel</span>
                            </a>
                        </li>
                               
                            
                        <% if (pterodactyl.root_admin == true) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">
                                <i class="fas fa-user-shield text-red"></i>
                                <span class="nav-link-text">Admin</span>
                            </a>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Modal Password Warning -->

        <div class="modal fade" id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal-notification"
            aria-hidden="true">
            <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
                <div class="modal-content bg-gradient-danger">

                    <div class="modal-header">
                        <h6 class="modal-title" id="modal-title-notification">Your are about to Reset your Password!
                        </h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>

                    <div class="modal-body">

                        <div class="py-3 text-center">
                            <i class="ni ni-bell-55 ni-3x"></i>
                            <h4 class="heading mt-4">Are you sure?</h4>
                            <p>WARNING: Pressing "Okay, Reset Password" will reset your panel password and you will need
                                to login to the panel again. Only reset your password if you really need to reset it.
                            </p>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <a href="/regen"><button type="button" class="btn btn-white">Okay, Reset Password</button></a>
                        <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal">Go
                            Back</button>
                    </div>

                </div>
            </div>
        </div>

            <!-- Modal Password Warning END-->
    </nav>
