<!DOCTYPE html>
<html lang="en" class="light-style customizer-hide" dir="ltr" data-theme="theme-default" data-assets-path="../assets/"
    data-template="vertical-menu-template-free">

<head>
    <title>Login | <%= settings.name %> </title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../assets/css/main.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="../assets/vendor/css/pages/page-auth.css" />
    <!-- Helpers -->
    <script src="../assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../assets/js/config.js"></script>
</head>

<body>
    <!-- Content -->

    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner">
                <!-- Register -->
                <div class="card">
                    <div class="card-body">
                        <!-- Logo -->
                        <div class="app-brand justify-content-center">
                            <a class="app-brand-link gap-2">
                                <span class="app-brand-logo demo">
                                    <span class="app-brand-logo demo">
                                        <img width="25" viewBox="0 0 25 42" src="/assets/img/favicon/logor.png">
                                </span>
                                </span>
                                <span class="app-brand-text menu-text fw-bolder ms-1"
                                    style="font-size:15pt"><%= settings.name %></span>
                            </a>
                        </div>
                        <!-- /Logo -->
                        <center>
                            <h4 class="mb-1">Welcome to <%= settings.name %>! 👋</h4>
                            <p class="mb-4">Please sign-in to your account and start the adventure!</p>
                        </center>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email address</label>
                            <input class="form-control" name="email" type="email" id="email" required="required" placeholder="Enter your Email" />
                            </div>
                            <div class="mb-3">
                            <div class="d-flex justify-content-between">
                            <label class="form-label" for="password">Password</label>
                            </div>
                            <input class="form-control" name="password" type="password" id="password" required="required" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"/>
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" id="remember-me" />
                                  <label class="form-check-label" for="remember-me"> Remember Me </label>
                                </div>
                              </div>
                            <div class="mb-1">
                            <button class="btn btn-primary d-block w-100" onclick="submitForm()">Login</button>
                                <script>
                                async function submitForm() {
                                    let email = encodeURIComponent(document.getElementById("email").value);
                                    let password = encodeURIComponent(document.getElementById("password").value);
                                    document.location.href = `/auth/login?email=${email}&password=${password}`
                                };
                                </script>
                            </div>
                            <div class="mb-1">
                                <center><a>or continue with...</a></center>
                            </div>
                            <div class="mb-2">
                            <a href="/login" class="box me-2 selectio">
                                <span class="btn btn-secondary d-grid w-100">Discord</span>
                            </a>
                        </div>
                        <p class="text-center">
                            <span>New on our platform?</span>
                            <a href="/register">
                                <span>Create an account</span>
                            </a>
                        </p>
                    </div>
                </div>
                <!-- /Register -->
            </div>
        </div>
    </div>

    <!-- / Content -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="../assets/js/main.js"></script>

    <!-- Page JS -->

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>